<!--
  Generated template for the Gallery page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
  Generated template for the Gallery page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color="task">
    <ion-title align="center">Gallery</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


<ion-card *ngIf="images.imagesArr.length == 0">

  <ion-card-content>
    No images
  </ion-card-content>

</ion-card>

<div class="theGallery"  text-center *ngIf="images.imagesArr.length > 0">
  <img [src]="image.src" *ngFor="let image of images.imagesArr; let i = index" alt=""
       (press)="presentActionSheet(image.id)" (tap)="openFullSizeImg(image.id)">

</div>


  <!--<ion-list>-->
    <!--<div class="theGallery1" *ngFor="let item of assetCollection; let i = index; trackBy:index">-->

      <!--<img [src]=item.URL />-->
    <!--</div>-->
  <!--</ion-list>-->

</ion-content>



