<ion-tabs color="tabs">
  <ion-tab [root]="tab1Root" tabTitle="Camera" tabIcon="md-camera"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Images Cloud" tabIcon="ios-cloud-download"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Gallery" tabIcon="md-images"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Map" tabIcon="md-globe"></ion-tab>
</ion-tabs>
