<!--
  Generated template for the CloudImageViewer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tabs">
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cloud Gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img  [src]="imageID" style="..." alt="">
</ion-content>
