<ion-header xmlns:file="http://www.w3.org/1999/xhtml" xmlns:file="http://www.w3.org/1999/xhtml">
  <ion-navbar color="task">
    <ion-title align="center">Camera</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <p>

  </p>
  <ion-buttons align="center" >

    <button color="light" (click)="doGetPicture()" ion-button icon-only outline round   >
      <ion-icon name="md-camera" > Camera</ion-icon>

    </button>
  </ion-buttons>
  <ion-buttons >


  </ion-buttons>




  <!--<ion-list>-->
  <!--<div class="theGallery1" *ngFor="let item of assetCollection; let i = index; trackBy:index">-->

  <!--<img [src]=item.URL />-->
  <!--</div>-->
  <!--</ion-list>-->

</ion-content>








