page-home {
  .scroll-content{
    background: url('file:///android_asset/www/assets/image.jpg');
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}

