<!--
  Generated template for the ImagesCloud page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="task">
    <ion-title align="center">Images Cloud</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding >

  <ion-list>
  <div class="theGallery1" *ngFor="let item of assetCollection; let i = index; trackBy:index">

    <img [src]=item.URL (tap)="openFullSizeImgCloud(item.URL)"  (press)="presentActionSheetCloud(item.URL)" />

  </div>
</ion-list>



  <!--<div class="theGallery"  text-center *ngIf="images.imagesArr.length > 0">-->
    <!--<img [src]="image.src" *ngFor="let image of images.imagesArr; let i = index" alt=""-->
         <!--(press)="presentActionSheet(image.id)" (tap)="openFullSizeImg(image.id)">-->

  <!--</div>-->


  <!--<ion-list>-->
  <!--<ion-item *ngFor="let image of firebaseImages">-->
  <!--<img [src]=image.URL width="180px" class="padding"/>-->
  <!--</ion-item>-->
  <!--</ion-list>-->

<!--</ion-content>-->


<!--(tap)="openFullSizeImgCloud(image.URL)"-->
