page-images-cloud {
  .theGallery1{

    width: 100%;


    img{
      float:left;
      width: 23%;
      padding: 2px;
      -webkit-border-radius: 5%;
      margin: 2px;
      border: 1px solid #eee;
    }
  }
  .scroll-content{
    background: url('file:///android_asset/www/assets/image.jpg');
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

}
